VITE_APP_NAME=
VITE_MUI_DATAGRID_PRO_LICENSE_KEY=

VITE_AUTH_SERVICE_URI=
VITE_BASE_URL=
VITE_BACKEND_URL=
VITE_AUTH_SERVICE_API_KEY=
VITE_GOOGLE_SSO=
VITE_MICROSOFT_SSO=
VITE_SSO_FAILTURE_URI=
VITE_SSO_SUCCESS_URI=
VITE_GET_SIGNED_URL_CLOUD_FUNCTION_ENVIRONMENT=
VITE_IS_PUSH_TO_MARKETPLACE_ENABLED=
VITE_PUSH_TO_CEV_SUCCESS_REDIRECT_LINK=

# Misc
VITE_GOOGLE_MAPS_API_KEY=
VITE_HUBSPOT_ID=
VITE_APP_CURRENCY=

# Datadog envs
VITE_DATADOG_RUM_APPLICATION_ID=
VITE_DATADOG_RUM_CLIENT_TOKEN=
VITE_DATADOG_RUM_ENV=
VITE_DATADOG_RUM_SERVICE=
VITE_DATADOG_RUM_VERSION=
VITE_DATADOG_API_KEY=
VITE_DATADOG_APPLICATION_KEY=
VITE_DATADOG_API_SITE=